{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/projekt.css' %}">


<h1>Dlaczego larpy</h1>

<p>Pierwszy raz na larpie byłam 5 lat tamu i muszę przyznać, że spodziewałam się zupełnie czegoś innego niż mnie spotkało</p>
<p>Przebieranie się w średnioweczne suknie i bieganie po lesie udając zupełnie kogoś innego to był dopiero początek zabawy</p>
<p>Póki co udało mi się grać na Fantazjadzie, Limes Mundi, oraz HP-live, ale dopiero się rozkręcam</p>
<p>Polecam z całego serca, bo każdy larp to niesamowita przygoda</p>

{% endblock content %}
