{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/projekt.css' %}">

<h1>Witaj na stronie Kasi!</h1>

 <p>Były podróże małe i duże</p>
 <p>Były opowiastki o zajęciach KCK</p>
 <p>Czym zajmiemy się teraz?</p>
 <h2>LARPAMI!</h2>
 <p> LARP (ang. live action role-playing) – aktywność na pograniczu gry i sztuki,
   podczas której uczestnicy wspólnie tworzą i przeżywają opowieść
  , odgrywając role podobnie do improwizowanego teatru.</p>
  <p> Akcja larpa może być osadzona
   zarówno w świecie rzeczywistym, jak i fikcyjnym. </p>



{% endblock content %}
